@*******************************************************************************
* Login. This is the login page.              								   *
*                                                                              *
*******************************************************************************@
	<div id="header_right">
		<p class="welcome">Welcome, Guest. Please login or <a href="#">register</a>.</p>
			<form id="form1" method="post" action="">
   				<p><label>Username
    					<input type="text" class="fields" name="textfield" />
    			   </label>
    			   <label>Password
    					<input type="text" class="fields" name="textfield2" />
    					<input type="submit" class="submit_button" name="Submit" value="login" />
    			   </label></p>
 			</form>
 	</div>