@*******************************************************************************
* Header. This is the header for all the pages.                        		   *
*                                                                              *
*******************************************************************************@
	<div id="buttons">
		<a href="/home" class="but"  title="">Home</a><div class="but_div"></div>
		<a href="/gallery"  class="but" title="">Gallery</a><div class="but_div"></div>
		<a href="/about"  class="but" title="">About&nbsp;us</a><div class="but_div"></div>
		<a href="/contact" class="but" title="">Contact&nbsp;us</a><div class="but_div"></div>
		<a href="/map" class="but">MAP</a><div class="but_div"></div>
	</div>
