@*******************************************************************************
* Images. This is the slider to show all the images which Tasdeeq wants to show.              *
*                                                                              *
*******************************************************************************@
	<div class="top">
		<div class="bp_all_bg">
			<div id="slider-wrapper">        
				<div id="slider" class="nivoSlider">
					<img src="@routes.Assets.at("/images/1.jpg")" />
                	<img src="@routes.Assets.at("/images/2.jpg")" />
                	<img src="@routes.Assets.at("/images/3.jpg")" />
                	<img src="@routes.Assets.at("/images/4.jpg")" />
                	<img src="@routes.Assets.at("/images/5.jpg")" />
                	<img src="@routes.Assets.at("/images/6.jpg")" />
                	<img src="@routes.Assets.at("/images/7.jpg")" />
                	<img src="@routes.Assets.at("/images/8.jpg")" />
                	<img src="@routes.Assets.at("/images/9.jpg")" />
                	<img src="@routes.Assets.at("/images/10.jpg")" />
				</div>        
			</div>
		</div>
	</div>