@*******************************************************************************
* Slides. This is the slider to show all the images on home page.              *
*                                                                              *
*******************************************************************************@
	<div class="top">
		<div class="bp_all_bg">
			<div id="slider-wrapper">        
				<div id="slider" class="nivoSlider">
					<img src="@routes.Assets.at("/images/top.jpg")" />
                	<img src="@routes.Assets.at("/images/top2.jpg")"/>
                	<img src="@routes.Assets.at("/images/top3.jpg")"/>
				</div>        
			</div>
		</div>
	</div>